<div id="alertBox" style="position: absolute;
           width: 400px;
           height: 50px;
           text-align: center;
           top: 60;
           left: 50%;
           margin-left: -200px;
           display: inline-block;
           border-radius: 4px;
           z-index: 1000;
    ">
    <% if(error && error.length> 0) {%>
        <div
            style="height: 50px; width: 100%; line-height: 50px; border-radius: 4px; vertical-align: center; color: white; text-align: center; background-color:rgb(255, 85, 6);">

            <%=error%>

        </div>
        <% } %>
            <% if(success && success.length> 0) {%>
                <div
                    style="height: 50px; width: 100%; line-height: 50px; border-radius: 4px; vertical-align: center; color: white; text-align: center; background-color:rgb(16, 189, 247);">

                    <%=success%>
                </div>
                <% } %>
</div>