<div class='body-container'>
<div class='page-container'>
	<nav class="navbar navbar-dark navbar-expand-md nav-bg">
		<a href="/" class="navbar-brand nav-link nav-item">
			<img src="/images/4.jpg" width="40px" height=40px class="d-inline-block rounded-circle">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="toggle-navigatio">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a href="/aboutUs" class="nav-link nav-item active">About Us</a>
			</div>
			<div class="navbar-nav ml-auto">
				<% if(!currentUser){ %>
					<a href="/login" data-target='#modalexa' data-toggle='modal' role='button' class="nav-link nav-item">Login</a>
					<a href="/register" class="nav-link nav-item">Sign-Up</a>
				<% } else { %>
					<a href="#" class="nav-link nav-item active ml-2"><%=currentUser.username %></a>
					<a href="/logout" class="nav-link nav-item">Logout</a>
				<% } %>	
			</div>
		</div>
    </nav>
	<div class="container">
		<% if(error && error.length > 0) {%>
			<div class="mt-1 alert alert-danger text-center" role="alert"><strong><%=error%></strong></div>
		<% } %>
		<% if(success && success.length > 0) {%>
			<div class="mt-1 alert alert-success text-center" role="alert"><strong><%=success%></strong></div>
		<% } %>
    </div>